// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-alert .danger {
  color: var(--ion-color-danger)!important;
}

.pl {
  padding-left: 20px;
}

.pr {
  padding-right: 20px;
}

.pt {
  padding-top: 20px;
}

.mt {
  margin-top: 20px;
}

:root {
  ion-toolbar{
  --ion-background-color: #FF8700;
  color: white;
  }
  --ion-background-color: #F8F9FA;
}
ion-card {
  background: white!important;
  --ion-background-color: white;
}

ion-item-divider {
  font-size: 18px;
}

.alert {
  color: #FFC107
}

.highlight {
  color: #E26F1E;
  font-weight: bold;
}

.affirmative {
  color: #8DC63F
}

ion-alert .affirmative {
  color: #8DC63F
}

.contrast {
  --ion-color-primary: #6C757D;
}

* {
  font-family: 'Montserrat', sans-serif!important;
}

.black {
  color: #262626!important
}