<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="person" class="pl"></ion-icon>
    <ion-title>Bem vindo(a) {{user.personalData.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <h2>qData</h2>
    <h4>Soluções em Privacidade</h4>
  </div>

  <ion-card padding>
    <ion-card-title>
      <ion-icon name="alert" class="alert"></ion-icon> Autorizações pendentes
    </ion-card-title>
    <ion-list>
      <ion-item-group *ngFor="let bank of bankList">
        <ion-item-divider>
          <ion-label>{{bank.name}}</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let auth of bank.authListPending">
          <ion-label>{{auth.name}}</ion-label>
          <ion-button slot="end" color="primary" (click)="showDetailsApproval(auth, bank)">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card>

  <ion-card padding class="mt">
    <ion-card-title>
      <ion-icon name="checkmark-circle" class="affirmative"></ion-icon> Autorizações ativas
    </ion-card-title>
    <ion-list>
      <ion-item-group *ngFor="let bank of bankList">
        <ion-item-divider>
          <ion-label>{{bank.name}}</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let auth of bank.authList">
          <ion-label>{{auth.name}}</ion-label>
          <ion-button slot="end" (click)="showDetailsApproved(auth, bank)">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card>

</ion-content>