<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="person" class="pl"></ion-icon>
    <ion-title>Bem vindo(a) {{user.personalData.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <h2 class="highlight">KeyDATA</h2>
    <h4>Gestão de Identidade</h4>
  </div>

  <ion-card padding>
    <ion-card-title>
      <ion-icon name="alert" class="alert"></ion-icon> Autorizações pendentes
    </ion-card-title>
    <ion-list>
      <ion-item-group *ngFor="let bank of bankList">
        <ion-item-divider>
          <ion-label class="black">{{bank.name}}</ion-label>
        </ion-item-divider>
        <div *ngFor="let data of dataList">
          <ion-item *ngIf="identity[data.key+'Auth']=='false'">
            <ion-label>{{data.name}}</ion-label>
            <ion-icon name="information-circle-outline" slot="end" class="contrast" color="primary"
              (click)="showDetailsApproval(data, bank)"></ion-icon>
          </ion-item>
        </div>
      </ion-item-group>
    </ion-list>
  </ion-card>

  <ion-card padding class="mt">
    <ion-card-title>
      <ion-icon name="checkmark-circle" class="affirmative"></ion-icon> Autorizações ativas
    </ion-card-title>
    <ion-list>
      <ion-item-group *ngFor="let bank of bankList">
        <ion-item-divider>
          <ion-label class="black">{{bank.name}}</ion-label>
        </ion-item-divider>
        <div *ngFor="let data of dataList">
          <ion-item *ngIf="identity[data.key+'Auth']=='true'">
            <ion-label>{{data.name}}</ion-label>
            <ion-icon name="information-circle-outline" slot="end" class="contrast" color="primary"
              (click)="showDetailsApproved(data, bank)"></ion-icon>
          </ion-item>
        </div>
      </ion-item-group>
    </ion-list>
  </ion-card>

</ion-content>