<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="person"></ion-icon>
    <ion-title>Bem vindo {{user.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title>Autorizações pendentes</ion-card-title>
    <ion-list>
      <ion-item-group *ngFor="let bank of bankList">
        <ion-item-divider>
          <ion-label>{{bank.name}}</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let auth of bank.authListPending">
          <ion-label>{{auth}}</ion-label>
          <ion-button slot="end" (click)="showDetailsApproval(auth)">
            <ion-icon name="eye"></ion-icon>Detalhes
          </ion-button>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-title>Autorizações ativas</ion-card-title>
    <ion-list>
      <ion-item-group *ngFor="let bank of bankList">
        <ion-item-divider>
          <ion-label>{{bank.name}}</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let auth of bank.authList">
          <ion-label>{{auth}}</ion-label>
          <ion-button slot="end" (click)="showDetailsApproved(auth)">
            <ion-icon name="eye"></ion-icon>Detalhes
          </ion-button>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card>

</ion-content>