<ion-header>
  <ion-toolbar>
    <ion-title>Relatórios de dados</ion-title>
    <ion-button class="pr" slot="end" (click)="getAllStates()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-text>Total de usuários dados pessoais</ion-text>
      <ion-text slot="end">{{totalUsersPer | number:'0.0-0'}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-text>Total de usuários dados financeiros</ion-text>
      <ion-text slot="end">{{totalUsersFin | number:'0.0-0'}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-text>Idade média dos usuários</ion-text>
      <ion-text slot="end">{{averageAge | number:'0.1-1'}} anos</ion-text>
    </ion-item>
    <ion-item>
      <ion-text>Renda anual média</ion-text>
      <ion-text slot="end">R$ {{averageIncome | number: '0.2-2'}}</ion-text>
    </ion-item>
  </ion-list>

</ion-content>